@{
    ViewData["Title"] = "Sobre o Sistema";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron text-center">
    <p style="font-size: 16px">
        Projeto feito na conclusão do curso de C# COMPLETO, ultilizando o Framework ASP.NET Core<br />
        no padrão de arquitetura de software MVC, separando a aplicação em 3 camadas.<br />
        A camada de interação do usuário(view), a camada de manipulação dos dados(model) e a camada de controle(controller).<br />
        Também foi ultilizado Entity Framework, como um mapeador relacional de objeto (O/RM), para mapear as entidades<br />
        e relacionar no MySQL, e LINQ para manipulação da base de dados.<br />
        

    </p> 
</div>

<div class="jumbotron text-center">

    <p style="font-size: 16px">
        <strong>Sobre o Curso</strong>
        Curso de programação Orientada a Objetos e desenvolvimento em<br />
        C#, .Net Core e ASP.Net, Conceitos Desde do básico, com exemplos bem simples e didáticos, <br />
        gradualmente avançando, até tópicos aprofundados tais como interfaces, Classes, Atributos, Métodos,<br />
        Membros estáticos, Polimorfismo, Enumerações e Composição, Construtores, Sobrecarga, Encapsulamento,<br />
        Comportamento de memória, Arrays, listas, Princípios SOLID, Padrões de projeto, Manipulação de arquivos,<br />
        Tratamento de Exceções, Generics, Expressões Lambda, Delegates, LINQ.

    </p>
</div>

