@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Contatos</p>
<address>
    <a href="https://www.linkedin.com/in/thiago-da-silva-gonçalves-253234186"><strong>LikedIn</strong></a>
</address>

