@{
    ViewData["Title"] = "Desenvolvedor";
}
<div style="text-align:center">
    <h2>@ViewData["Title"]</h2>
    <h3>Thiago da Silva Gonçalves</h3>
</div>
<div class="jumbotron" style="align-items:center">
    <p style="font-size: 17px" class="text-center">
        <strong>RESUMO  </strong><br />
        Entusiasta do mundo de tecnologia, amplio meus conhecimentos em desenvolvimento de software,<br />
        atualmente praticando e desenvolvendo aplicações em C#, Asp.net e Net Core.<br />
    </p>

    <h4 style=" padding-top:10px; letter-spacing:3px" class="text-center">Contatos</h4>

    <div style="border-radius:8px; margin-left:auto; margin-right:auto; width:70%; height:100px; background-color:silver">


        <div style="display:flex; margin:3%; padding:5%; justify-content:space-between">

            <a style="width:140px" class="btn  btn-social btn-linkedin" target="_blank" href="https://www.linkedin.com/in/thiago-da-silva-gonçalves-253234186">
                <span class="fa fa-linkedin"></span>
                LikedIn
            </a>

            <a style="width: 140px" class="btn  btn-social btn-github" target="_blank" href="https://github.com/thiagodasilvag1989">
                <span class="fa fa-github-alt"></span>
                GitHub
            </a>


            <a style="width:140px" class="btn btn-block btn-social btn-google" href="mailto:thiagodasilvag1989@gmail.com"><span class="fa fa-google"></span>E-Mail</a>

        </div>
    </div>
</div>
