@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div style="margin-top: 2%" class="carousel-inner" role="img">
        <div class="item active">
            <img src="~/images/atendimento.jpg" alt="Atendimento ao Cliente" style="width:100%" class="img-responsive" />
            <div class="carousel-caption" style="color: #000000; background: radial-gradient(white, rgb(254, 254, 254, 0.01)70%); text-shadow: white 0.1em 0.1em 0.2em">
                <h3>Gestão de Vendas</h3>
                <p>Gerenciamento de vendedores e departamento</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/grafico-ascendente.jpg" alt="Grafico Ascendente" style="width:100%" class="img-responsive" />
            <div class="carousel-caption" style="color: #000000; background: radial-gradient(white, rgb(254, 254, 254, 0.01)70%); text-shadow: white 0.1em 0.1em 0.2em">
                <h3>Relatorios em Gráficos</h3>
                <p>Acompanhamento de vendas dos vendedores e departamentos</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/building.jpg" alt="building" style="width:100%" class="img-responsive" />
            <div class="carousel-caption" style="color: #000000; background: radial-gradient(white, rgb(254, 254, 254, 0.01)70%);text-shadow: white 0.1em 0.1em 0.2em ">
                <h3>Organização Empresarial</h3>
                <p>Sistema de Nível Estratégico para Empresas</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div style="text-align: center; margin-top: 2%; background-color:lightcyan; border-style:groove; border-radius: 15px; padding: 30px">

    <h2 style="color:#000066; font-weight:bold">Sistema Salles Web MVC</h2>
    <h3 style="color:#000066; font-weight:bold">O Sistema Possui</h3>
    <h4>Relatório de Vendas em Gráfico e Tabelas</h4>
    <p>
        Tenha acesso ao faturamento por vendedor e departamento pelo período que definir, <br />
        com visão geral do desempenho da organização.
    </p>
    <h4>Estado das Vendas</h4>
    <p>
        Relatório de vendas por vendedor, e os status<br />
        de vendas, Faturada, Pendente ou Cancelada.
    </p>
    <h4>Cadastro de Vendedores e Departamentos</h4>
    <p>Com formulário intuitivo e funcional.</p>
</div>