@model IEnumerable<SalesWebMvc.Models.SalesRecord>

@{
    var departments = ViewBag.Departments;
    var recordSales = ViewBag.Amount;

    var minDate = ViewBag.MinDate;
    var maxDate = ViewBag.MaxDate;

    var departmentsSerialize = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(departments));
    var recordSalesSerialize = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(recordSales));

    var minDateSeri = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(minDate));
    var maxDateSeri = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(maxDate));

    ViewData["Title"] = "Vendas por Departamento";
}

<h2 style="text-align:center; text-transform:uppercase">@ViewData["Title"]</h2>



<nav class="navbar navbar-form">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate" style="color:white">Data Inicial</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate" style="color:white">Data Final</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <button type="submit" class="btn btn-info">Buscar</button>
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </form>
    </div>
</nav>

<canvas id="grafico" width=200 height=90></canvas>

@section Scripts{

    <script src="~/js/Chart.min.js"></script>

    <script>

        var departments = @departmentsSerialize;
        var recordSales = @recordSalesSerialize;

        let minDate = @minDateSeri;
        let maxDate = @maxDateSeri;

        $(document)
            .ready(function () {
                var ctx = $('#grafico');
                    new Chart(ctx, {
                        type: 'polarArea',
                    data: {
                        labels: departments,
                        datasets: [{
                            data: recordSales,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(255, 206, 86,0.6)',
                                'rgba(75, 192, 192, 0.6)',
                                'rgba(153, 102, 255, 0.6)',
                                'rgba(255, 159, 64, 0.6)'
                            ],
                            labels: departments,
                            borderColor: [
                                '#fff'
                            ],
                            borderWidth: 4
                        }]
                    },
                        options: {
                            reponsive: true,
                            legend: {
                                position: 'top'
                            }, 
                            
                        }
                    });
            });
    </script>
}
