@model IEnumerable<SalesWebMvc.Models.SalesRecord>

@{
    var sallers = ViewBag.Sellers;
    var recordSales = ViewBag.Amount;

    var minDate = ViewBag.MinDate;
    var maxDate = ViewBag.MaxDate;

    var sallersSerialize = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(sallers));
    var recordSalesSerialize = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(recordSales));

    var minDateSeri = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(minDate));
    var maxDateSeri = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(maxDate));

    ViewData["Title"] = "Vendedores com mais vendas";
}

<h2 style="text-align:center; text-transform:uppercase">@ViewData["Title"]</h2>



<nav class="navbar navbar-form">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate" style="color:white">Data Inicial</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate" style="color:white">Data Final</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                </div>
            </div>
            <button type="submit" class="btn btn-info">Buscar</button>
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </form>
    </div>
</nav>

<canvas id="grafico" width=200 height=90></canvas>

@section Scripts{

    <script src="~/js/Chart.min.js"></script>

    <script>

        var sallers = @sallersSerialize;
        var recordSales = @recordSalesSerialize;

        let minDate = @minDateSeri;
        let maxDate = @maxDateSeri;

        $(document)
            .ready(function () {
                var ctx = $('#grafico');
                    new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: sallers,
                        datasets: [{
                            data: recordSales,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86,0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 5)',
                                'rgba(54, 162, 235, 5)',
                                'rgba(255, 206, 86, 5)',
                                'rgba(75, 192, 192, 5)',
                                'rgba(153, 102, 255, 5)',
                                'rgba(255, 159, 64, 5)'
                            ],
                            borderWidth: 1
                        }]
                    },
                        options: {
                            legend: {
                                display: false,
                            },
                            reponsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    callback: function (value, index, values) {
                                        return 'R$ ' + value
                                    },
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            });
    </script>
}
